name: Build nextcloud images

on:
  push:
    branches:
      - main


jobs:
  build-soap-client:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Build docker image for folder SOAP Client
        run: docker build ./soap-client -t ghcr.io/conductionnl/nextcloud-images:fpm-soap
      - name: Login to Container Registry
        id: containerregistry-login
        run: |
          echo ${{ secrets.GITHUB_TOKEN }} | docker login ghcr.io -u $(cut -d'/' -f1 <<< $GITHUB_REPOSITORY) --password-stdin
      - name: Push to Container Registry
        run: docker push ghcr.io/conductionnl/nextcloud-images:fpm-soap
        
  build-postgres-extensions:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - uses: actions/checkout@v4

      - name: Login to Container Registry (GHCR)
        run: |
          echo ${{ secrets.GITHUB_TOKEN }} | docker login ghcr.io -u $(cut -d'/' -f1 <<< $GITHUB_REPOSITORY) --password-stdin

      - name: Build docker image (Postgres extensions)
        run: |
          docker build ./postgres-extensions \
            -t ghcr.io/conductionnl/nextcloud-images:postgres16-ext \
            -t ghcr.io/conductionnl/nextcloud-images:postgres16-ext-sha-${{ github.sha }}

      - name: Push to Container Registry
        run: |
          docker push ghcr.io/conductionnl/nextcloud-images:postgres16-ext
          docker push ghcr.io/conductionnl/nextcloud-images:postgres16-ext-sha-${{ github.sha }}